* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    background: rgba(172, 90, 3, 0.626);
    padding: 30px 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    width: 100%;
}

.social-media {
    flex-basis: 100%;
    text-align: center;
}

.social-media i {
    font-size: 20px;
    color: #2f2f2f;
    border: 2px solid #222;
    padding: 3px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin: 0 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #444340a2;
    border-color: #2420189b;
}

.informacion, .ayuda, .otros {
    flex-basis: calc(33.333% - 20px);
    margin: 20px 10px;
    text-align: center;
}

.informacion h4, .ayuda h4, .otros h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.informacion p, .ayuda p, .otros p {
    font-size: 14px;
}

.espacio, .espacio1 {
    flex-basis: 100%;
    height: 10px;
}